body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header"
        "nav main"
        "footer footer";
    min-height: 100vh;
}

header {
    grid-area: header;
    background-color: #FFD292;
    background-image: url("https://i.pinimg.com/originals/93/67/60/936760c0dfdcecc37e3e8b2c54575911.jpg");
    padding: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f5f5dc;
}

.emails a{
    color: #f5f5f5;
}

.emails a:hover{
    color: #00ffff;
}

nav {
    grid-area: nav;
    background-color: #DDBD8E;
    color: #DDBD8E;
    padding: 20px;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    margin-bottom: 10px;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: beige;
    text-decoration: none;
    transition: color 0.3s ease-out; 
}

nav ul li a:hover {
    color: rgb(42, 105, 108);
}

.container {
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 20px;
    align-items: center;
    display: inline-block;
    position: relative;
}

.text {
    width: 500px;
    padding: 0 20px;
    margin-left: 39px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: beige;
    text-align: center;
    pointer-events: none;
    opacity: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    box-sizing: border-box;
    justify-content: center;
    align-items: left;
    display: flex;
}

.text .default-text {
    display: block; 
}

.text .hover-text {
    display: none; 
    width: 160%;
    padding-left: 50px;
    font-size: 20px;
    padding-right: 50px;
    text-align: left;
}

.container:hover .text .default-text {
    display: none; 
}

.container:hover .text .hover-text {
    display: block; 
    color: black; 
    padding-right: 50px;
}

.container img {
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-left: 80px;
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), filter 0.2s linear;
    border-radius: 15px;
}

.container img:hover {
    transform: scale(2, 1);
    filter: brightness(0) invert(1);
}

ul.contact1 li:before{
    color: white;
}

main {
    grid-area: main;
    background-color: #CEA17B;
    padding: 20px;
    color: beige;
}

footer {
    grid-area: footer;
    background-color: #D78050; 
    padding: 20px;
    text-align: center;
    color: wheat;
}
